@import "/bootstrap.min.css";
@import "/bootstrap-responsive.min.css";
@import "/termkit.css";
@import "/typography.css";

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.autocompleteItems {
  position: absolute;
}

ul.autocomplete {
  list-style-type: none;
  min-height: 20px;
  min-width: 120px;
}

ul.autocomplete li {
  min-height: 23px;
  font-size: 13px;
  height: 18px;
  line-height: 23px;
  padding: 4px;
  background-color: #FAFAFA;
}

.autocomplete li.active {
  .rounded-corners; 
  background-color: #F2F2F2;
  color: black;
}