!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title ArchConsole
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    
    
    link(rel='stylesheet', href='/style.css')

    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
   

    script(src="/socket.io/socket.io.js")
    
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .container
      .menuContainer
      .shellContainer
      .statusbarContainer
    script(src='./code.js')